body,ul,li,p
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    font-family: Noto Sans TC;
}
body{
    background: #FFFFFF;
    margin: 0 auto;

}
input{
    padding-left:5px;
}

/* .world{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); 
    display: none; 
    z-index: 999;
} */
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
    opacity: 0.25;
    display: none;
    z-index: 250;
}

.loger{
    position: fixed; /* positioning in center of page */
    top: 220px;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 340px;
    background-color: white;
    display: none;
    flex-direction: column;
    z-index: 500;
    border-radius: 6px;
}
.loger_cap{
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}
.loger_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_main_i{
    margin: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
}
.X{
    position: absolute;
    height: 16px;
    width: 16px;
    right: 20px;
    top: 30px;
    background: url("../img/icon_close.png");
    cursor: pointer;

}
.login_main_t{
    margin-bottom: 10px;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-left: 15px;
}
.login_main_b{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.login_main_q{
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
    
}
.signer{
    position: fixed; /* positioning in center of page */
    top: 250px;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 340px;
    background-color: white;
    display: none;
    flex-direction: column;
    z-index: 500;
    border-radius: 6px;
}





.nav{
    height: 54px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid rgb(212, 211, 211);
}
.innr_nav{
    width: 1200px;
    height: 34px;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_title{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
    margin: 10px;
}
.frame1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.b_b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}
.bb{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
    
}
.hero{
    display: flex;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 320px;
    align-items: center;
    justify-content: center;
}
.true_hero{
    display: flex;
    width: 1200px;
}
.slogan{
    height: 169px;

    z-index: 2;
}
.welc{
    position: absolute;
    right: 0px;
    top:55px;
}

.slg_div{
    position: static;
    height: 149px;
    left: 10px;
    top: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.slg_innr{
    height: 78px;
    left: 0px;
    top: 0px;
    margin: 15px;
}
.sl_1{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height: 22px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    margin-top: 15px;
    margin-bottom: 25px;
}
.sl_2{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    height: 41px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}
.srh{
    margin: 15px;
    height: 46px;
    position: relative;
    top:10px;
}
.srh_innr{
    height: 46px;
    display: flex;
}
.srh_bar{
    height: 46px;
    filter: drop-shadow(0px 0px 20px #AABBCC);
    width: 400px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
    padding-left: 15px;

}
.srh_btn{
    width: 60px;
    height: 46px;
    background: #448899;
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 0px;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}
.frame2{
    position: relative;
    right: 5px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
}
.burg_img{
    display: block;
}
img{
    object-fit:cover;
    height: 100%;
    overflow: auto;
}
.box{
    object-fit:cover;
    width: 273px;
    margin: 12px;
    max-height: 255px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(138, 138, 138, 0.5);
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.name_here{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #757575;
    padding: 8px;

}
.infos{
    display: flex;
    justify-content: space-between;
}
.info1{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #757575;
    padding: 8px;

}
.info2{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #757575;
    padding: 8px;   
}
.sec1{
    display: flex;
}
@media (min-width:600px) and (max-width:1199px){/*600~1200px*/
    .flex{max-width: 100%;}
    .box{width: 44%;}

}

/* @media (min-width:361px) and (max-width:600px) {
    .foot{visibility: hidden;}
    .flex{max-width: 100%;}
    .box{width: 95%;}
    .srh_bar{width:75%}
} */
@media screen and (max-width:600px) {/*less than 600*/
    .foot{visibility: hidden;}
    .flex{max-width: 100%;}
    .box{width: 95%;}
    .welc{position: static;
        width: 212px;
        height: 148px;
        left: 148px;
        top: 132px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;}
    .welc_i{
        position: absolute;
        width: 276px;
        height: 148px;
        right: 0px;
        top: 226px;}
    .srh_bar{width: 70%;}
    .sec1{margin-top: -150px;}
    .home_title{margin: 5px;}
}
.foot{
    background: #757575;
    display: flex;
    position: -webkit-sticky;
    height: 104px;
    justify-content: center;
    align-items: center;
}
.copy_r{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

::placeholder {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #757575;
    position: relative;

}

a{
    text-decoration: none;
    color: black;
}
#burger{
    display: none;
}
#more{
    padding: 5px;
    margin: 10px;
}



/* ---Attraction--- */



.att_sec{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}
.roller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 15px;
    margin-right: 30px;
    align-items: center;
}
.roll_cap{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:50%;
    opacity: 0.75;
    align-self:stretch;
}
#roll_l{
    width: 36px;
    height: 36px;
    background-image: url("../img/btn_leftArrow.png");
}
#roll_r{
    width: 36px;
    height: 36px;
    background-image: url("../img/btn_rightArrow.png");
}
.roller_box{
    height: 90%;
    width: 100%;
}
.roller_point{
    display: flex;
    /*justify-content: space-around;
    /* max-width: 75%
    margin: 0 auto; */
    justify-content: center;
    position: relative;
    bottom: 10%;
    width: 100%;
}
.dots{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-left: 7px;
    margin-right: 7px;
}
.roller_box>img{
    height:406px;
    object-fit: cover;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}
.roller_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.roller_upper{
    display: flex;
    flex-direction: column;
}
.roller_name{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #666666;
}
.roller_cat{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    color: #666666;
}
.roller_lower{
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.rl{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.rl_i1{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 15px;
}
.rl_f{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-left: 5px;
}
.rl_tt{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;    
    color: #666666;
}
.check_box{
    margin-left: 10px;
    display: flex;
}
input[type="radio"]{
    background-color: #fff;
    margin: 0px;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px #FFFFFF;
}
input[type="radio"]:checked{
    background: #448899;
    border: 2px solid white;

}
.tc{
    margin: 20px 20px 20px 0px;
    background: #448899;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 154px;
    height: 36px;
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    cursor: pointer;

}
.border{
    width: 100%;
    border: 1px solid rgb(194, 192, 192);
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    bottom: 30px;
    border-top: 1px;
}
.rolwer{
    position: relative;
    top:50px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}
.descr{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    
    /* Gray 800 */
    
    color: #666666;
}
.addr_outer{
    margin-top: 20px;
}
.trans_outer{
    margin-top: 20px;
}
@media (min-width:1001px) and (max-width:1199px){/*600~1200px*/
    .roller{margin: 5px;}
    .rolwer{margin: 10px;}
}
@media screen and (max-width:1000px) {
    .roller{width: 100%;margin: 0 auto;}
    .roller_box{max-height: 50%;}
    .att_sec{flex-direction: column;align-items: center;}
    .rolwer{padding: 15px}
    .roll_cap{position: relative; top: 210px;}
    .roller_point{position: relative;bottom: 50px;}
    .roller_box>img{width: 100%;height: 350px;}
    .rolwer{padding-left: 15px;padding-right: 15px;}
    .roller_box{width: 100%;}
    .roller_content{margin: 10px;align-items:stretch;}
    .roller_upper{padding-left: 15px;padding-right: 15px;max-width: 93%;}
    .roller_lower{margin: 5px;}
    .book{flex-direction: column;align-items: center;}
    .book_welc{padding-left: 5px;}
    .booker{flex-direction: column;width: 100%;align-items: flex-start;}
    .book_info{flex-direction: column;position: relative;margin-top: 30px;justify-content: space-around;margin-right: 60px;}
    .book_info_d{margin-left: 5px;}
    .book_detail_memo{margin-left: 5px;}
    .book_where{width: 100%;align-items: center;}
    .book_where_site{width: 100%;}

    .a_book{flex-direction: column;width: 100%;align-items: flex-end;}
    .book_where_site_img{width: 96% !important;}
}
::-webkit-calendar-picker-indicator {
    background-image: url("../img/icon_calendar.png");
}

.input_d{
    height: 35px;
    width: 190px;
    background-color: white;
    border: none;
    transition: all 1s;

}
.foot2{
    background: #757575;
    color: white;
    display: flex;
    height: 104px;
    justify-content: center;
    align-items: center;
    position: relative;
    top:100px;
}
.foot3{
    background: #757575;
    color: white;
    display: flex;
    height: 104px;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0px;
    width: 100%;
}

.site_pics{
    transition: opacity 0.5s;
}

/* ---Booking--- */

.book_welc{
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 35px;
}
.book{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 35px;
    flex-direction: column;
}
.catalog{
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #666666;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    margin-left: 22px;
    padding-bottom: 25px;
}
.cata_1{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #448899;
margin-right: 5px;
}
.cata_2{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #666666;
margin-right: 5px;
min-width: 45px;
}
.find_no{
    text-align: center;
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
max-width: 1000px;
margin: 0 auto;
display: flex;
}
.find_no_i{
    margin-left: 5px;
}

.a_book{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.booker{
    display: flex;
    height: 100px;
}
.book_where{
    display: flex;
    flex-direction: column;

}
.book_input{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 38px;
    width: 200px;
    margin-left: 5px;
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.book_where_site{
    height: 200px;
    display: flex;
    justify-content: center;
}
.book_where_site_img{
    width: 266px;
}
.book_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 22px;
    margin-bottom: 22px;
}
.book_info_name{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #448899;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 5px;
}
.book_info_c{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
display: flex;

}
.book_info_c_i{
    margin-top: 15px;

font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
}
.book_info_cc{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
display: flex;
color: #666666;
}

.book_info_d{
    margin-top: 24px;
}
.book_cancel{
    height: 30px;
    width: 30px;
    cursor: pointer;

}
.boorder{
    max-width: 1200px;
    border: 1px solid rgb(194, 192, 192);
    border-top: 1px;
    margin: 0 auto;
    margin-top: 40px;
}

.book_detail{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.book_detail_memo{
    margin-top: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.book_detail_i{

}

.confirm{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}
.confirm_fee{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.book_info_c_i2{
    margin-top: 15px;

font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
display: flex;
align-items: center;
}

.tk_order{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}
.uni_id{
    font-style:italic;
    font-weight: 900;
}
.tk_list{
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}
.tk_site{
    object-fit: cover;
    display: flex;
    height: 150px;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid rgba(138, 138, 138, 0.5);
    margin: 15px;
    width: 100%;
}
.tk_site_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 22px;
    text-align: center;
}