<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction</title>
</head>
<body onload="attr()">
    <div class="mask" id="mask"></div>
    <div class="loger" id="loger">
        <div class="loger_cap"></div>
        <div class="loger_main">
            <p class="login_main_i">登入會員帳號</p>
            <div class="X" onclick="loger_off()"></div>
            <input class="login_main_t" id="acc" type="email" placeholder="輸入電子信箱">
            <input class="login_main_t" id="pss" type="password" placeholder="輸入密碼">
            <input class="login_main_b" type="button" onclick="login()" value="登入帳戶">
            <p id="err_login" style="color: red;margin-top: 10px;"></p>
            <p class="login_main_q" id="signup_sw" onclick="switcher(this.id)">還沒有帳戶?點此註冊</p>
        </div>
    </div>
    <div class="signer" id="signer">
        <div class="loger_cap"></div>
        <div class="loger_main">
            <p class="login_main_i">註冊會員帳號</p>
            <div class="X" onclick="loger_off()"></div>
            <input class="login_main_t" id="u_name" type="text" placeholder="輸入姓名">
            <input class="login_main_t" id="u_mail" type="email" placeholder="輸入電子郵件">
            <input class="login_main_t" id="u_pass" type="password" placeholder="輸入密碼">
            <input class="login_main_b" type="button" onclick="signup()" value="註冊新帳戶">
            <p id="err_signup" style="color: red;margin-top: 10px;"></p>
            <p class="login_main_q" id="login_sw" onclick="switcher(this.id)">已經有帳戶了?點此登入</p>
        </div>
    </div>




    <nav class="nav" id="site_nav">
        <div class="innr_nav">
        <a href="/" class="home_title">台北一日遊</a>
            <div class="frame2">
                <div class="frame1">
                    <a class="b_b"><p class="bb" id="tager0" onclick="to_book()">預定行程</p></a>
                    <a class="b_b"><p class="bb" id="tager" onclick="loger_on()">登入/註冊</p></a>
                </div>
            </div>
        </div>
    </nav>
    <section class="att_sec" id="att_sec">


        <!-- 圖片區域 -->
        
        <div class="roller" id="roller">
            <div class="roll_cap">
                <div class="roll_rl" id="roll_l" onclick="clicker(this.id)"></div>
                <div class="roll_rl" id="roll_r" onclick="clicker(this.id)"></div>
            </div>
            <div class="roller_box" id="roller_start">

                <!-- 製作div+img tag圖片從這開始放置 -->
            </div>
            <ul class="roller_point" id="pointer">
                <!-- 製作li tag 小圈點在這 -->
            </ul>
        </div>


        <!-- 訂購區域 -->
        <div class="roller_content">
            <div class="roller_upper">
                <p class="roller_name" id="roller_name"></p>
                <p class="roller_cat" id="roller_cat"></p>
            </div>


            <div class="roller_lower">
                <!-- 選填表格     -->
                <p class="rl">訂購導覽行程</p>
                <p class="rl_i1">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <div class="rl">
                    選擇日期 :
                <input style="margin-left: 5px;" name="dater" id="order_data" class="input_d" type="date" /></div>
                <div class="rl">選擇時間 :
                    <div class="check_box"><input type="radio" id="tt_m" name="tt" value="tt_m" checked onclick="tt(this)"><label for="tt_m" class="rl_tt">上半天</label></div>
                    <div class="check_box"><input type="radio" id="tt_e" name="tt" value="tt_e" onclick="tt(this)"><label for="tt_e" class="rl_tt">下半天</label></div>

                </div>
                <div class="rl">導覽費用 :<div class="rl_f" id="rl_f">新台幣 2000 元</div></div>
                <input type="button" value="開始預定行程" class="tc" onclick="confirm()"></input>
                
            </div>
        </div>
    </section>
    


    <!-- 下半部 -->
    <section class="rolwer" id="rolwer">
        <div class="border"></div>
            <div class="descr" id="descr"></div>
            <div class="addr_outer">
                <p class="rl">景點地址:</p>
                <p id="addr" class="descr"></p>
            </div>
            <div class="trans_outer">
                <p class="rl">交通方式:</p>
                <p id="trans" class="descr"></p>
            </div>
    </section>


    <script type="text/javascript" src="../js/attr.js"></script>
    <script type="text/javascript" src="../js/loger.js"></script>
    <!-- <script type="text/javascript" src="../js/book.js"></script> -->
    <footer class="foot2">COPYRIGHT © 2021 台北一日遊</footer>
</body>
</html>